.us_custom_492179a4 {
  text-transform: uppercase !important;
}

.us_custom_79129bfc {
  color: #212121 !important;
  background: #f2f4f5 !important;
}

.us_custom_ed4cce55 {
  background: #a2c803 !important;
}

.aio-icon.circle {
  color: #062a8d;
  background: #d6ff2f;
  font-size: 60px;
  margin-right: 5px;
}

.l-subheader.at_middle {
  padding-block: 1rem;
}

.ult-spacer.spacer-62d23bae3c4cf {
  clear: both;
  display: block;
}

.wrapper_alignleft {
  text-align: left;
}

.wrapper_alignleft__span {
  color: #333333;
}

.l-section-img {
  background-image: url(../img/testimonials-feliasdesigns-best.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
}

#about__infohub {
  --additional-gap: 10px;
}
