#page-content {
  margin-block-start: 11rem;
}

.us_custom_492179a4 {
  text-transform: uppercase !important;
}

.us_custom_79129bfc {
  color: #212121 !important;
  background: #f2f4f5 !important;
}

.us_custom_ed4cce55 {
  background: #a2c803 !important;
}

#green_header {
  color: #a1c802;
}

.aio-icon.circle {
  color: #062a8d;
  background: #d6ff2f;
  font-size: 60px;
  margin-right: 5px;
}

.w-nav-list.level_2 > li:hover {
  background-color: #d6ff2f;
}

.w-nav-anchor.level_2:hover {
  color: #0808a8;
}

.l-subheader.at_middle {
  padding-block: 1rem;
}

.ult-spacer.spacer-62d23bae3c4cf {
  clear: both;
  display: block;
}

.wrapper_alignleft {
  text-align: left;
}

.wrapper_alignleft__span {
  color: #333333;
}

.text__center {
  text-align: center;
}

.l-section-img {
  background-image: url(../img/testimonials-feliasdesigns-best.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
}

#about__infohub {
  --additional-gap: 10px;
}

.l-header {
  position: relative;
  z-index: 111;
  width: 100%;
}

.l-subheader.width_full {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.w-header-show {
  display: none;
}

.l-header.pos_fixed:not(.notransition) .l-subheader {
  transition-property: transform, background, box-shadow, line-height, height;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
}

.l-header.pos_fixed {
  position: fixed;
  left: 0;
}

.l-subheader.at_bottom,
.l-subheader.at_bottom .w-dropdown-list,
.l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
  background: #e8e8e8;
  color: #062a8d;
}
